body, ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.full {
  flex: 1;
}
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-row-space-around {
  justify-content: space-around;
}

.flex-row-space-between {
  justify-content: space-between;
}
.flex-row-end {
  justify-content: flex-end;
}
.flex-row-align-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}

.topbar {
  height: 60px;
  margin: 0 25px;

}

.login {
  width: 300px;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 33%;
  left: 0;
  right: 0;
  bottom: 0;
}

.login-cmp {
  border-radius: 0;
  margin-bottom: 18px;
}
.login-cmp input[type="password"] {
  border-radius: 0;
}
.ts-table-headbar {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ts-table {
  padding: 12px;
}

.ant-table-content {
  min-height: 750px;
}